@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */
*{
  box-sizing: border-box;
}
html {
  
}

body {
  font-family: Arial;
  margin: 0;
}
button{
  /* width: 400px;
  height: 300px; */
}
header{
 /* margin-top: 0; */
}

.header-section{
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #1abc9c;
  margin: 0;
  padding: 4.5rem;
}
.header-section h2{
  margin-top: 0;
  /* padding-top: ; */
}
.header-section p{

}
header nav{
  display: flex;
  background-color: #333;
}
nav a{
  /* display: inline-block; */
  padding: 0.85rem 2rem;
  text-decoration: none;
  color: white;
  text-align: center;
}
nav a:hover {
  background-color: #ddd;
  color: black;
}
.main-container{
  display: flex;
}
.side-bar{
  flex: 30%;
  background-color:  #f1f1f1;
  padding: 1.5rem;
}
.side-bar-image-container, .article-image-container{
  background-color: #aaa;
  padding: 0.5rem 0 12rem 1.25rem;
}
.side-image{
  background-color: #aaa;
  padding: 1.5rem;
}
.article-container{
  flex: 70%;
  padding:1.5rem
}
footer{
  padding: 20px;
  text-align: center;
  background: #ddd;
}
@media screen and (max-width: 700px) {
  nav{
    flex-direction: column;
  }
  .main-container{
    flex-direction: column;
  }
  .side-bar, .article-container{
    flex: 100%
  }
}
